[Unit]
Description=Lock X session
Before=sleep.target

[Service]
Type=forking
ExecStart=/usr/local/bin/physlock -ds -u root
Restart=on-failure

[Install]
WantedBy=sleep.target
